/* {
  box-sizing: border-box;
}

body{
  margin: 0;
  /*height: 100vh;
  display: grid;
  place-items: center;	
}

main {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
}

header{
  background-color: green;
  display: table;
  width: 100%;
 img {
  width: 100vh;
 }
}
*/
.B{
  //animation properties
  animation-name: enter;
  animation-duration: 3s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}


@ keyframes enter{
  0% {
    opacity: 0;
    transform: translateX(-8rem);
  }
  100% {
    opacity: 1;
    transform: translateX(-0);
  }
}